<style>
    body {
        text-align: center;
        color: #BA66A3;
        font-family: 'Montserrat',sans-serif;
    }
    span{
        border-radius: 2rem;
        padding: 1rem;
        color: black;
        background-color: #C882B4;
    }
    p{
    	padding-top: 2rem;
    }
</style>
<body>
    <h1><%=@user.name %>, aqui está o código para alterar a sua senha no PetGatô:</h1><br/>
    
    <span><%=@user.reset_password_token %></span>
    
    <p>Caso você não tenha solicitado a alteração de senha, ignore este email. <p>

    <img src="https://i.pinimg.com/originals/95/cf/9f/95cf9fe2c1f040c730b41ce777f64cd9.gif" alt="periquito">
</body>