<style>
    body {
        text-align: center;
        color: #BA66A3;
        font-family: 'Montserrat',sans-serif;
    }
</style>
<body>
    <h1><%=@user.name %>, você já pode entrar no PetGatô com a sua nova senha!</h1>

    <img src="https://acegif.com/wp-content/gifs/cute-bunny-gif-41.gif" alt="coelhinho">
</body>