<style>
    body {
        text-align: center;
        color: #BA66A3;
        font-family: 'Montserrat',sans-serif;
    }
</style>
<body>
    <h1>Seja bem-vindo(a) ao PetGatô</h1>

    <p>Você acabou de criar uma conta no nosso site. Esperamos que você se divirta e aprenda com nossas postagens :)</p>
    
    <img src="https://i.pinimg.com/originals/83/e2/a4/83e2a4765fe6f2a11f295090d9e0c232.gif" alt="gatinho">
</body>